version: '3.8'

services:
  webapi:
    build:
      context: .
      dockerfile: WebAPI/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - POSTGRESQL_ADDON_URI=${POSTGRESQL_ADDON_URI}
      - ASPNETCORE_ENVIRONMENT=Development
    restart: always

  webapp:
    build:
      context: .
      dockerfile: WebApp/Dockerfile
    ports:
      - "5002:8080"
    environment:
      - POSTGRESQL_ADDON_URI=${POSTGRESQL_ADDON_URI}
      - ASPNETCORE_ENVIRONMENT=Development
      - ApiBaseUrl=http://webapi:8080
    depends_on:
      - webapi
    restart: always
