version: '3.8'

services:
  webapi:
    build:
      context: .
      dockerfile: WebAPI/Dockerfile
    environment:
      - POSTGRESQL_ADDON_URI=${POSTGRESQL_ADDON_URI}
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5001:8080"
    depends_on:
      - db
    restart: always

  webapp:
    build:
      context: .
      dockerfile: WebApp/Dockerfile
    environment:
      - POSTGRESQL_ADDON_URI=${POSTGRESQL_ADDON_URI}
      - ASPNETCORE_ENVIRONMENT=Development
      - ApiBaseUrl=http://webapi:8080
    ports:
      - "5002:8080"
    depends_on:
      - webapi
    restart: always

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=EmployeeDB
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
