services:
  webapi:
    build:
      context: .
      dockerfile: WebAPI/Dockerfile
    environment:
      - POSTGRESQL_ADDON_URI=Host=db;Port=5432;Database=EmployeeDB;Username=postgres;Password=admin;SSL Mode=Disable
      - ASPNETCORE_ENVIRONMENT=Development
      - GEMINI_API_KEY=AIzaSyD9thWTYxjEzPXYYCabaaA4OqmW44JDvIE
    ports:
      - "5001:8080"
    depends_on:
      db:
        condition: service_healthy
    restart: always

  webapp:
    build:
      context: .
      dockerfile: WebApp/Dockerfile
    environment:
      - POSTGRESQL_ADDON_URI=Host=db;Port=5432;Database=EmployeeDB;Username=postgres;Password=admin;SSL Mode=Disable
      - ASPNETCORE_ENVIRONMENT=Development
      - ApiBaseUrl=http://webapi:8080
      - GEMINI_API_KEY=YOUR_API_KEY_HERE
    ports:
      - "5002:8080"
    depends_on:
      webapi:
        condition: service_started
    restart: always

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=EmployeeDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  postgres_data:
